<%- include("partials/header") -%>
    <h1>Contact</h1>
    <p><%= contactContent %></p>
    <div class="contacts">
        <a href="https://www.linkedin.com/in/pronajit-dey-2735a721b/" class="social" target="_blank"><i class="fi fi-brands-linkedin"></i></a>
        <a href="https://twitter.com/PronajitDey" class="social" target="_blank"><i class="fi fi-brands-twitter"></i></a>
        <a href="https://github.com/pronajitdey" class="social" target="_blank"><i class="fi fi-brands-github"></i></a>
    </div>
<%- include("partials/footer") -%>