@import url('https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');

body {
    background-color: hsl(0, 0%, 13%);
    color: hsl(0, 0%, 70%);
}

button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-default {
    background-color: hsl(0, 0%, 20%);
}

#menu-btn {
    position: absolute;
    font-size: 2rem;
    right: 20px;
    top: 28px;
    color: #777;
    display: none;
}

.navbar-nav  li a:hover {
    color: hsl(175, 100%, 54%) !important;
}

.post-links {
    color: hsl(182, 80%, 26%);
}

.post-links:hover {
    color: hsl(175, 100%, 54%);
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: hsl(182, 80%, 26%);
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
    color: #fff;
}

.btn {
    background-color: hsl(182, 80%, 26%);
    color: hsl(0, 0%, 100%);
    transition: all 0.1s linear;
}

.btn:hover {
    transform: scale(1.2);
    background-color: hsl(0, 0%, 20%);
    color: hsl(175, 100%, 54%);
}

.contacts {
    display: flex;
}

.social {
    font-size: 3rem;
    display: flex;
    text-decoration: none;
    margin-top: 20px;
    margin-right: 50px;
}

.del-btn {
    font-size: 2.5rem;
    display: block;
    margin-top: 30px;
    margin-right: 10px;
    margin-left: auto;
}

@media (max-width: 770px) {
    #menu-btn {
        display: block;
    }

    .navbar {
        padding-bottom: 0;
    }

    .navbar-nav  li a {
        display: none;
    }

    .navbar-nav li a.active {
        display: block;
    }

    #menu-btn.open {
        font-size: 2.2rem;
    }
}